body {
    font-family: Arial, sans-serif;
}

.search-box {
    position: relative;
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
}

.search-box.active {
    width: 300px;
}

.search-box input {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    height: 100%;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px;
    background: none;
    color: white;
    font-size: 18px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.search-box.active input {
    opacity: 1;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    transition: left 0.5s ease-in-out;
}

.search-box.active i {
    left: calc(100% - 40px);
}